﻿@{
    Layout = null;
    Layout = "~/Views/LandingPage/LayoutPage.cshtml";
}

<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="~/LandingTemplate/img/logo_phiwiki.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#price">Price</a></li>
                    <li><a href="~/Views/User/Login.cshtml"> Login </a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
<!-- start banner Area -->
<section class="banner-area" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-7">
                <h5 class="text-white text-uppercase">Author: Ilma</h5>
                <h1 class="text-uppercase">
                    Penjualan Phiwiki
                </h1>

                <a href="#" class="primary-btn text-uppercase">Beli Sekarang Rp 50.000,00</a>
            </div>
            <div class="col-lg-4 banner-area">
                <img class="img-fluid" src="~/LandingTemplate/img/images.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start about Area -->
<section class="section-gap info-area" id="about">
    <div class="container">
        <div class="single-info row mt-40 align-items-center">
            <div class="col-lg-6 col-md-12 text-center no-padding info-left">
                <div class="info-thumb">
                    <img src="~/LandingTemplate/img/about-img.jpg" class="img-fluid info-img" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding info-rigth">
                <div class="info-content">
                    <h2 class="pb-30">Sujeki Roma Yananda</h2>


                    <img src="~/LandingTemplate/img/signature.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about Area -->
<!-- Start price Area -->
<section class="price-area section-gap" id="price">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Beli piwiki anda sekarang</h1>
                    <p> Dapatkan sekarang dan pelajari materi dari soal-soal beserta pembahasannya </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="single-price no-padding">
                    <div class="price-top">
                        <h4>E-Book</h4>
                    </div>
                    <p>
                        Dapatkan buku Piwiki dengan harga <br>
                        Segera pesan
                    </p>
                    <div class="price-bottom">
                        <h1><span>Rp</span> &nbsp 50.000</h1>
                        <a href="#" class="primary-btn header-btn">Beli Sekarang</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-price no-padding">
                    <div class="price-top">
                        <h4>Print Copy</h4>
                    </div>
                    <p>
                        Dapatkan buku Piwiki dengan harga <br>
                        Segera pesan
                    </p>
                    <div class="price-bottom">
                        <h1><span>Rp</span>&nbsp 50.000</h1>
                        <a href="#" class="primary-btn header-btn">Beli Sekarang</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End price Area -->
<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>

                </div>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>

                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->
@Scripts.Render("~/bundles/js2")
