﻿<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    @Styles.Render("~/Content/css1")

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            @*<div class="logo">
                <a href="#">
                    <img src="~/UserTemp/images/icon/logophiwiki3.jpg" alt="PHIWIKI" />
                </a>
            </div>*@
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                        <img src="~/UserTemp/images/icon/logophiwiki3.jpg" alt="Phiwiki" />
                    </div>
                    <h4 class="name">Phiwiki</h4>
                    <a href="#">Sign out</a>
                </div>

                <!-- DISINI NAV ADMIN-->
                @Html.Partial("NavAdmin")

            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        @RenderBody()

    </div>

    <!-- JS-->
    @Scripts.Render("~/bundles/js")

</body>

</html>
<!-- end document-->
