﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MasterVideo</title>
</head>
<body>
    <div> Video
    </div>
</body>
</html>
