﻿@model phiwiki.Models.tbl_user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Forgetpass</title>

    @Styles.Render("~/Content/css1")

</head>


<body class="animsition">
    <form method="post">
        <div class="page-wrapper">
            <div class="page-content--bge5">
                <div class="container">
                    <div class="login-wrap">
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="#">

                                    <img src="~/UserTemp/images/icon/logo_phiwiki2.png" alt="phiwiki" width="120" height="120">
                                    <br />
                                </a>
                            </div>
                            <div class="login-form">
                                <form action="" method="post">

                                    <div class="container-login100-form-btn">
                                        <div class="col-md-offset-2">
                                            <p class="text-center">
                                                <label class="text-danger">@TempData["cek"]</label>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label>Email Address</label>
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "au-input au-input--full", @type = "email", @name = "email", @placeholder = "Email" } })
                                    </div>

                                    <button class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">Submit</button>

                                </form>
                                <div class="register-link">
                                    <p>
                                        Do you want back to login?
                                        <a href="#">@Html.ActionLink("Login", "Login")</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @Scripts.Render("~/bundles/js")
        
    </form>
</body>
</html>
